<div>
    <div class="col-xs-3 col-md-12 col-lg-12">
        <h3 class="col-md-offset-1 col-xs-11" id="searchrecord">Search Records By</h3>
        <div class="col-md-3 col-xs-12 col-md-offset-1">
            <div class="dropdown open">
                <button id="navbar" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ranch/Commodity<i class="glyphicon glyphicon-chevron-down"></i>
                </button>
            </div>
        </div>
         <div class="col-md-3 col-xs-12">
            <div class="dropdown open">
                <button id="navbar" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All<i class="glyphicon glyphicon-chevron-down" id="icon"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="dropdown open">
                <button id="navbar" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Record Type<i class="glyphicon glyphicon-chevron-down" id="icon2"></i>
                </button>
            </div>
        </div>
        <div class="col-md-1">

            <button id="go">Go</button>

        </div>
    </div>
</div>
