<div class="col-md-12 col-xs-12">
    <div class="col-md-6" style="margin-top:50px;">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr style="height:50px;">
                        <th id="tableHead" colspan="2">Water Records</th>
                        <th id="td3 " colspan="2"><span style=";padding: 3%;">1month </span></th>
                        <th id="tableHead"colspan="2"><span style=";padding: 3%;">3 months </span></th>
                        <th id="tableHead" colspan="2"><span style="padding: 6%;">1year </span></th>
                        <th id="tableHead"colspan="2"><span style="padding: 6%;">3 years</span></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div >
            <table class="table table-borderless" id="tableborder">
                <thead>
                    <tr>
                        <th id="tableHead">Ranch</th>
                        <th id="tableHead">Water Source</th>
                        <th id="tableHead">Location</th>
                        <th id="tableHead">Sample Date</th>
                        <th id="tableHead tableRytBorder">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <td colspan="6" id="heading" >Organic 13
                        <hr>
                    </td>
                    <tr style="border-right: 1px solid black;" ng-repeat="data in myData.WaterRecords">
                        <td style="color: #40c4ff">{{data.Ranch}}</td>
                        <td>{{data.waterSorce}}</td>
                        <td>{{data.location}}</td>
                        <td>{{data.SampleDate}}</td>
                        <td id="tableRytBorder"><img ng-src="{{data.result}}"></td>
                    </tr>
                </tbody>
                <tbody>
                    <td colspan="6" id="heading">Organic 14
                        <hr>
                    </td>
                    <tr ng-repeat="data in myData.WaterRecords">
                        <td style="color: #40c4ff">{{data.Ranch}}</td>
                        <td>{{data.waterSorce}}</td>
                        <td>{{data.location}}</td>
                        <td>{{data.SampleDate}}</td>
                        <td id="tableRytBorder"><img ng-src="{{data.result}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6" style="margin-top:50px;">
        <div class="table-responsive">
            <div>
                <table class="table table-bordered" >
                    <thead>
                        <tr style="height:50px;">
                            <th id="tableHead" colspan="2">Forecast/Records</th>
                            <th id=" td3 " colspan="2"><span style=";padding: 3%;">1month </span></th>
                            <th id="tableHead" colspan="2"><span style=";padding: 3%;">3months </span></th>
                            <th id="tableHead" colspan="2"><span style="padding: 6%;">1year </span></th>
                            <th id="tableHead" colspan="2"><span style="padding: 6%;">3years</span></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <table class="table table-borderless" id="tableborder">
                <tr>
                    <thead>
                        <th id="tableHead">Ranch</th>
                        <th id="tableHead">Commodity</th>
                        <th id="tableHead">Harvest Date</th>
                        <th id="tableHead">Target Yield</th>
                        <th id="tableHead">Actual Yield</th>
                        <th id="tableHead"> </th>
                    </thead>
                </tr>
                <tbody>
                    <td colspan="6 " id="heading" >Organic 13
                        <hr>
                    </td>
                    <tr ng-repeat="data in myData.Report ">
                        <td style="color: #40c4ff ">{{data.Ranch}}</td>
                        <td>{{data.Commodity}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.TargetYield}}</td>
                        <td>{{data.ActualYield}}</td>
                        <td><img ng-src="{{data.result}} "></td>
                    </tr>
                </tbody>
                <tbody>
                    <td colspan="6 " id="heading">Organic 15
                        <hr>
                    </td>
                    <tr ng-repeat="data in myData.Report " ng-if="$index <2 ">
                        <td style="color: #40c4ff ">{{data.Ranch}}</td>
                        <td>{{data.Commodity}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.TargetYield}}</td>
                        <td>{{data.ActualYield}}</td>
                        <td><img ng-src="{{data.result}} "></td>
                    </tr>
                </tbody>
                <tbody>
                    <td colspan="6 " id="heading">Organic 16
                        <hr>
                    </td>
                    <tr ng-repeat="data in myData.Report " ng-if="$index <2 ">
                        <td style="color: #40c4ff ">{{data.Ranch}}</td>
                        <td>{{data.Commodity}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.TargetYield}}</td>
                        <td>{{data.ActualYield}}</td>
                        <td><img ng-src="{{data.result}} "></td>
                    </tr>
                </tbody>
                <tbody>
                    <td colspan="6 " id="heading">Organic 17
                        <hr>
                    </td>
                    <tr ng-repeat="data in myData.Report " ng-if="$index <3 ">
                        <td style="color: #40c4ff ">{{data.Ranch}}</td>
                        <td>{{data.Commodity}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.TargetYield}}</td>
                        <td>{{data.ActualYield}}</td>
                        <td><img ng-src="{{data.result}} "></td>
                    </tr>
                    <tr ng-repeat="data in myData.Report " ng-if="$index <1 ">
                        <td style="color: #40c4ff ">{{data.Ranch}}</td>
                        <td>{{data.Commodity}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.TargetYield}}</td>
                        <td>{{data.ActualYield}}</td>
                        <td><img ng-src="{{data.result}} "></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
   
</div>
