<div class="container">
    <form class="form-inline">
        <div class="form-group col-md-offset-4">
            <label>SSc</label>
            <input type="text" class="form-control" ng-model="obj3.SSC">
        </div>
        <br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>SSC-marks</label>
            <input type="text" class="form-control" ng-model="obj3.SSCmarks">
        </div>
        <br>
        <BR>
        <div class="form-group col-md-offset-4">
            <label>AISSC</label>
            <input type="text" class="form-control" ng-model="obj3.AISSC">
        </div>
        <br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>AISSC-marks</label>
            <input type="text" class="form-control" ng-model="obj3.AISSCmarks">
        </div>
        <br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>College</label>
            <input type="text" class="form-control" ng-model="obj3.college">
        </div>
        <br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>College-Percentage</label>
            <input type="text" class="form-control" ng-model="obj3.percentage">
        </div>
        <br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>Projects</label>
            <input type="textarea" class="form-control" ng-model="obj3.project">
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-offset-5">
            <a ui-sref="personalDetails">
                <button type="submit" class="btn btn-primary">PREVIOUS</button>
            </a>
        </div>
        <br>
        <br>
        <div class="col-md-offset-4">
            <button type="submit " ng-click="fnSubmit() " class="btn btn-primary ">SUBMIT</button>
            <span class="col-md-offset-2 ">
            <a ui-sref="details">
                <button type="submit " class="btn btn-primary ">VIEW APPLICATION</button>
            </a>
        </span>
        </div>
        
        
    </form>
    <div class="col-md-offset-4 ">
    </div>
    </div>
