<div class="container" >
    <form class="form-inline">
        <div class="form-group col-md-offset-4">
            <label>Date of Birth</label>
            <input type="text" class="form-control" ng-model="obj2.dob" placeholder="26/jan/1994">
        </div>
        <br>
        <BR>
        <div class="form-group col-md-offset-4">
            <label>Father`s Name</label>
            <input type="email" class="form-control" ng-model="obj2.fatherName" placeholder="Jordan">
        </div>
        <br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>Mother`s Name</label>
            <input type="text" class="form-control" ng-model="obj2.motherName" placeholder="Georgia">
        </div>
        <br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>Location</label>
            <input type="text" class="form-control" ng-model="obj2.location" placeholder="New Delhi">
        </div><br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>Nationality</label>
            <input type="text" class="form-control" ng-model="obj2.nationality" placeholder="Indian">
        </div><br>
        <br>
        <div class="form-group col-md-offset-4">
            <label>Blood Group</label>
            <input type="text" class="form-control" ng-model="obj2.Blood" >
        </div><br>
        <br>
        <br>
        <br>
        <div class="col-md-offset-4">
            <a ui-sref="mainInfo">
                <button type="submit" class="btn btn-primary">PREVIOUS</button></a>
                <a ng-click="navigateTo('educationDetails')">
                    <button type="submit" class="btn btn-primary">NEXT</button></a>
        </div>
    </form>
    <div class="col-md-offset-4">
    </div>
</div>
