<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div>
            <table id="graphNav">
                <tr >
                    <td class="col-md-3 tdClass" colspan="8">
                        <h5>Commodities<h5></td>
                    <td class="tdClass" id="td3" >1 month</td>
                    <td class="tdClass" >3 months</td>
                    <td class="tdClass" > 1 year</td>
                     <td class="tdClass"> 3 year</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div>
            <table id="graphNav">
                <tr>
                    <td class="col-md-6 tdClass" colspan="6">
                        <h5>Forecast/Actual<h5></td>
                    <td class="tdClass col-md-2" id="td3" colspan="2">3 months</td>
                    <td class="tdClass col-md-2" colspan="2">1 year</td>
                    <td class="tdClass col-md-2" colspan="2"> 3 years</td>

                </tr>
            </table>
        </div>
    </div>

</div>
<div class="col-xs-12 col-md-6">
</div>
<div class="col-xs-12 col-md-6">
<div class="dropdown open">
                <button id="navCopy" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Strawberries<i class="glyphicon glyphicon-chevron-down"></i>
                </button>
            </div>
            </div>

            
